body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #5A189A;
  }

nav {
    background-color:#240046 !important;
}

nav img {
    min-height: 7vh;
    max-height: 8vh;

}

nav span {
    font-size: 2rem;
    margin-left: 20px;
    color: white;
}

nav input {
    background-color: #424549 !important;
    color:azure !important;
}

nav input::placeholder {
    color:aliceblue !important
}

#input-control {
    display: flex;
    flex-direction: vertical;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px
}

#message-display {
    top: 80px;
    color:white;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    max-height: 500px;
}

#avatar {
    height: 48px;
    width: 48px
}

#username {
    color: white
}

.modal-card .modal-card-head{
    background-color: #3C096C !important;
    border-bottom: none;
}

.modal-card .modal-card-body{
    background-color: #7B2CBF !important;
}

.modal-card .modal-card-foot{
    border-top: none;
    background-color: #3C096C !important;
}

.media+.media {
    border-top: none;
}

#tasklist-container {
    position: relative;
    top: 100px;
    max-width: 98%;
    left: 13px;
    background-color: #C77DFF;
    border-radius: 10px
}

#tasklist-container .message-header {
    background-color: #3C096C;
    min-height: 75px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#tasklist-container .message-body {
    background-color: #7B2CBF;
    max-height: 60vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 20px;
    overflow-y: auto;
}

#taskDisplay {
    width: 100%;
    height: 20vh;
    background-color: #E0AAFF;
    overflow: hidden; /* hide the overflow content */
    word-wrap: break-word;
}



p {
    color: white !important;
}
