html {
    background-color: #5A189A;
    overflow: hidden;
    
}

nav {
    background-color:#240046 !important;
}

nav img {
    max-height: 64px;
    min-height: 48px;

}

nav span {
    font-size: 2rem;
    margin-left: 20px;
    color: white;
}

nav input {
    background-color: #424549 !important;
    color:azure !important;
}

nav input::placeholder {
    color:aliceblue !important
}

#input-control {
    display: flex;
    flex-direction: vertical;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px
}

#message-display {
    top: 80px;
    color:white;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    max-height: 500px;
}

#avatar {
    height: 48px;
    width: 48px
}

#username {
    color: white
}

.modal-card .modal-card-head{
    background-color: #36393e !important;
    border-bottom: none;
}

.modal-card .modal-card-body{
    background-color: #424549 !important;
}

.modal-card .modal-card-foot{
    border-top: none;
    background-color: #36393e !important;
}

.media+.media {
    border-top: none;
}

#tasklist-container {
    position: relative;
    top: 100px;
    max-width: 98%;
    left: 13px;
    background-color: #C77DFF;
    border-radius: 10px
}

#tasklist-container .message-header {
    background-color: #3C096C;
    min-height: 75px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#tasklist-container .message-body {
    min-height:450px;
    background-color: #7B2CBF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: horizontal;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

#task-card {
    min-width: 400px;
    max-width: 400px;
    max-height: 400px;
    background-color: 	#9D4EDD;
    color: white;
}

#task-card .card-header{
    background-color: #3C096C;
}
#task-card .card-content {
    background-color: 	#9D4EDD;
    overflow-y: auto;
    max-height: 350px;
    
}

#taskDisplay {
    width: 352px;
    display: flex;
    flex-direction: hortizontal;
    background-color: #E0AAFF;
    overflow: hidden; /* hide the overflow content */
    word-wrap: break-word;
}


p {
    color: white !important;
}
